[user]
	name = zyekhabdul
	email = zyekhabdulqadirjailani@gmail.com

[init]
	defaultBranch = main
	templateDir = ~/.git-templates

[core]
	editor = nano
	autocrlf = input

[push]
	autoSetupRemote = true

[pull]
	rebase = false
